{% extends "layout.html" %}
{% block content %}
<h2>Inventory</h2>
<form method="POST" class="mb-3">
  <div class="row g-2">
    <div class="col"><input class="form-control" name="name" placeholder="Name" required></div>
    <div class="col"><input class="form-control" name="code" placeholder="Code" required></div>
    <div class="col"><input class="form-control" type="number" step="0.01" name="price" placeholder="Price" required></div>
    <div class="col"><input class="form-control" type="number" name="quantity" placeholder="Qty" required></div>
    <div class="col"><button class="btn btn-success" type="submit">Add</button></div>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr><th>ID</th><th>Name</th><th>Code</th><th>Price</th><th>Qty</th></tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr><td>{{ item[0] }}</td><td>{{ item[1] }}</td><td>{{ item[2] }}</td><td>{{ item[3] }}</td><td>{{ item[4] }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}